.about__content__header {
    font-size: 35px;
    color: #2D5EC2;
    font-weight: bold;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__hello {
    font-size: 17px;
}

.about__image img{
    width: 500px;
    height: 350px;
}

.goals__image img {
	width: 367px;
	height: 367px;
	object-fit: cover;
}

.item__title {
	color: #2D5EC2;
	font-size: 35px;
	font-weight: 600;
}

.item__description {
	margin-bottom: 0;
	font-size: 17px;
}

.item__description:before {
	content: '•';
	margin-right: 10px;
}

.activity__text {
	font-size: 17px;
}

.activity .section__more {
	margin: 50px 0 0;
}

.activity hr {
	height: 3px;
	background-color: #C4C4C4;
}

.static_menu {
	position: sticky;
	top: 100px;
	left: 1vw;
	margin-top: 100px;
	float: left;
}

.static_menu__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 10px;
	text-align: center;
	margin-bottom: 25px;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.static_menu__item a {
	color: #000;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 3px;
}

.static_active {
	background-color: #2D5EC2;
}

.static_active a{
	color: #fff;
}

.static_menu__item a:hover {
	text-decoration: none;
}

.static_menu__item span {
	position: absolute;
	left: 30px;
	color: #2D5EC2;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(-10px);
	transition: 0.5s;
}

.static_menu__item:hover span {
	transform: translateX(0);
	opacity: 1;
}

.static_menu__item:after {
	content: '';
	display: block;
	position: absolute;
	top: 30px;
	left: 8px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background-color: #2D5EC2;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.static_menu__item:last-of-type:after {
	display: none;
}