body {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18px;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/main.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 75px;
  transition: 1s;
}

.logo {
  width: 219px;
}

.header_scroll {
  background-color: #F1F1F1;
  box-shadow: 0px 10px 17px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 80px;
  position: fixed;
  top: -200px;
  left: 0;
  z-index: 2;
  transition: 0.5s;
}
.header__top.fixed {
  transition: 0.5s;
  top: 50px;
}
.header__top {
  transition: 0.5s;
}
.header__middle {
  margin: 150px 0 100px;
}

nav.fixed {
  right: 9%;
  transition: .5s;
}
.navbar__item {
  border-left: 1px solid #fff;
  padding: 0 10px;
}
.navbar__item:first-of-type {
  border: none;
}

.navbar__item a {
  font-size: 14px;
  color: #fff;
  transition: 0.5s;
}
.navbar__item a:hover {
  color: #2d5ec2;
  text-decoration: none;
}
.navbar__language {
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 4px 8px;
  margin-left: 5px;
}

.navbar___active a {
  color: #2d5ec2;
}
.navbar__search {
  display: none;
  border: 1px solid #2D5EC2;
  transition: opacity 1s ease-out;
}
.navbar__search input:focus{
  box-shadow: 0px 0px 5px #2D5EC2;
}
.search-open {
  display: none;
}
.search-show {
  display: inline-flex;
}
.navbar__search input {
  border: none;
  font-size: 11px;
  padding: 5px 5px;
  width: 110px;
  outline: none;
}
.search__button {
  line-height: 0;
  padding: 3px;
  font-size: 14px;
  color: #2d5ec2;
  border: none;
  background-color: #fff;
  outline: none;
}

.language-switcher {
  display: inline-flex;
  position: relative;
}
.language-switcher a {
  display: block;
  width: 38px;
  height: 31px;
  transition: 0.5s;
}
.second-language {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  opacity: 0;
  position: absolute;
  top: 38px;
  left: 0;
}
.language-switcher:hover .second-language {
  opacity: 1;
  top: 30px;
}
.language-switcher:hover .main-language {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.numbers {
  margin-left: -15px;
}
.numbers__item {
  margin-bottom: 15px;
  display: flex;
  height: 24px;
}
.numbers__item img {
  cursor: pointer;
  width: 35px;
  z-index: 1;
}
.numbers__item span {
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.8;
  padding: 0 7px;
  transform: translateX(-20px);
  z-index: 0;

  transition: all 0.3s;
}
.numbers__item img:hover ~ span {
  visibility: visible;
  opacity: 1;
  width: auto;
  transform: translateX(0);
}

.header__content {
  color: #fff;
  align-self: center;
}
.header__content p {
  margin-top: 60px;
  width: 245px;
}

.social {
  display: flex;
}
.social__item {
  display: block;
  width: 35px;
  height: 35px;
  color: #fff;
  margin-right: 20px;
  background-color: #fff;
  line-height: 2;
  text-align: center;
}
.social__item:hover {
  opacity: 0.8;
  color: #fff;
}
.fb {
  background-color: #3b5999;
}
.twitter {
  background-color: #55aded;
}
.vk {
  background-color: #507298;
}

.fixed {
  position: fixed;
  z-index: 2;
}
.convert {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2d5ec2;
  background-image: url(../img/envelope.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: fixed;
  right: 10vw;
  top: 620px;
  z-index: 2;
  transition: 0.2s;
}

section {
  padding: 50px 0;
}

.section__heading {
  margin-bottom: 50px;
}
.section__heading h2 {
  font-size: 24px;
  color: #2d5ec2;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section__gallery_item {
  margin-bottom: 25px;
}
.section__gallery_item img {
  width: 100%;
  height: 320px;
  transform: scale(1.2);
  margin-bottom: 15px;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
}
.section__gallery_item p {
  font-weight: 800;
  margin: 25px 0;
}
.section__gallery_item p:after {
  content: '';
  display: block;
  width: 64px;
  border-bottom: 2px solid #2d5ec2;
}

.scale {
  overflow: hidden;
  max-height: 320px;
}
.scale img:hover {
  transform: scale(1);
}

.section__more {
  display: block;
  width: 175px;
  height: 60px;
  margin: 0 auto;
  background: #2d5ec2;
  box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
  transition: 0.3s ease-out;
}
.section__more:hover {
  color: #fff;
  text-decoration: none;
  background: #055692;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
}

.bg-blue {
  background-color: #e1ebff;
}

.equipment-1 {
  background-image: url(../img/equipment/equipment-1.jpg);
}
.equipment-2 {
  background-image: url(../img/equipment/equipment-2.jpg);
}
.equipment-3 {
  background-image: url(../img/equipment/equipment-3.jpg);
  background-position-y: 30%;
}
.equipment-4 {
  background-image: url(../img/equipment/equipment-4.jpg);
}
.equipment-5 {
  background-image: url(../img/equipment/equipment-5.jpg);
}
.equipment-6 {
  background-image: url(../img/equipment/equipment-6.jpg);
}
.equipment-7 {
  background-image: url(../img/equipment/equipment-7.jpg);
  background-position-y: 30%;
}
.equipment-8 {
  background-image: url(../img/equipment/equipment-8.jpg);
}
.equipment-9 {
  background-image: url(../img/equipment/equipment-9.jpg);
}
.equipment-10 {
  background-image: url(../img/equipment/equipment-10.jpg);
}
.equipment-11 {
  background-image: url(../img/equipment/equipment-11.jpg);
  background-position-y: 30%;
}
.equipment-12 {
  background-image: url(../img/equipment/equipment-12.jpg);
}
.gallery-min__item {
  width: auto;
  height: 184px;
  background-size: 100%;
  box-shadow: inset 0px -34px 22px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  transition: all 0.5s ease-in;
}
.gallery-min__item p {
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.gallery-min__item:hover {
  background-size: 130%;
  background-position: 50% 50%;
}

.advantage img {
  width: 108px;
  height: 100px;
}

.social__thanks {
  background-color: #288ad3;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  margin-bottom: 50px;
}

.social__header,
.subscribe__header {
  font-weight: 800;
  font-size: 17px;
  color: #288ad3;
}
.social__header:after {
  content: '';
  display: block;
  width: 64px;
  border-bottom: 2px solid #2d5ec2;
  margin: 15px 0 25px;
}

.social__list a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.social__list a:hover {
  text-decoration: underline;
}
.social__list li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 12px;
  content: '\f054';
  color: #288ad3;
  margin-right: 4px;
}

.social__subscribe {
  margin-top: 50px;
}
.social__subscribe form {
  width: 100%;
  display: flex;
}
.social__subscribe input[type='email'] {
  width: 80%;
  border: none;
  color: #288ad3;
  font-size: 14px;
  font-weight: 800;
  background-color: #e1ebff;
  padding: 0 20px;
}
.social__subscribe input[type='email']::placeholder {
  color: #288ad3;
}
.social__subscribe input[type='submit'] {
  background-image: url(../img/E-mail2.jpg);
  background-size: cover;
  width: 38px;
  height: 34px;
  border: none;
}

footer {
  background-color: #404f6e;
  text-align: center;
  color: #fff;
  padding: 15px;
  font-size: 17px;
}

.popup-wrapper {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  visibility: visible;
}
.show .popup {
  opacity: 1;
}
.popup {
  opacity: 0;
  width: 1000px;
  padding: 30px 50px;
  background-color: #2d5ec2;
  position: relative;

  transition: all 0.5s;
}
.popup__close {
  font-weight: 600;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}
.popup_header {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.popup__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popup__input {
  position: relative;
  margin-bottom: 4vw;
}
.popup__input:last-of-type {
  margin-bottom: 30px;
}
.popup__input input,
.popup__input textarea {
  font-size: 17px;
  padding: 0 16px;
  line-height: 2.5;
  width: 400px;
  outline: none;
}
.popup__input input[required] + label:after,
.popup__input textarea[required] + label:after {
  content: '*';
  color: red;
  padding-left: 5px;
}
.popup__input label {
  font-size: 17px;
  position: absolute;
  top: -22px;
  left: 20px;
}
.popup__input textarea {
  resize: none;
  width: 900px;
  height: 170px;
}
.popup button {
  background-color: #288ad3;
  padding: 17px 40px;
  border: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}
.popup button:hover {
  background-color: rgb(32, 122, 190);
}

@media screen and (max-width: 1200px) {
  a.fixed {
    left: 50%;
    transform: translateX(-50%);
  }
  nav.fixed {
    left: 9%;
    top: 95px;
  }
  .header_scroll {
    height: 130px;
  }
}

@media screen and (max-width: 1024px) {
  nav.fixed {
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.739);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .nav_open {
    transform: scale(1) !important;
  }
  nav.fixed ul {
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    margin-top: 60px;
  }
  nav.fixed li {
    border-left: none;
  }
  nav.fixed a {
    font-size: 24px;
  }
  .navbar__item:last-of-type {
    display: none;
  }
  .navbar___active a {
    color: #ffffff;
  }
  a.fixed {
    left: unset;
    transform: unset;
    top: 25px;
  }
  .numbers {
    display: none;
  }
  .burger {
    position: fixed;
    right: 9%;
    top: 25px;
    z-index: 2;
    width: 30px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    
  }
  .burger span {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
  }
  .burger_open {
    z-index: 3;
  }
  .burger_open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .burger_open span:nth-child(2) {
    transform: rotate(-45deg) translateY(-8px);
  }
  .burger_open span:nth-child(3) {
    opacity: 0;
  }
  .header__top.fixed {
    top: 20px;
  }
  .header_scroll {
    height: 90px;
  }
  .gallery-min__item, .social__list {
    margin-bottom: 30px;
  }
}