@import url('../../css/styles.css');

.navbar ul li a:not(.navbar__current) {
  opacity: 0.7;
}

.blog-last__preview {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.preview__image {
	flex-basis: 50%;
	height: 440px;
}

.preview__image img,
.post__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.preview__text {
	flex-basis: 46%;
}

.blog-last .section-heading {
	margin: 100px 0;
}

.preview__text__title {
	font-size: 48px;
}

.preview__text__description {
	margin: 40px 0;
	font-size: 19px;
	opacity: .7;
	line-height: 1.1;
}

.post-heading {
	font-size: 34px;
	text-align: center;
	margin: 60px 0;
}

.posts__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.popular-post__post {
	flex-basis: 28%;
}

.post__image {
	height: 225px;
}

.post__title {
	margin: 14px 0 8px;
}

.popular-post__post .more {
	opacity: .7;
}

.popular-post__post .more {
	display: block;
}

.slick-slide {
	margin-right: 0;
	padding: 20px;
	outline: none;
}

.all-posts__post .post__image {
	height: 300px;
}

.posts__slider__wrapper {
	position: relative;
}

.slider-control {
  top: 40%;
  left: -3%;
  position: absolute;
  width: 106%;
  z-index: -1;
}

.slider-control ul {
	width: 100%;
}

.slider-control .prev,
.slider-control .next {
	background: none;
}

