html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding: 0 5.555555%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vw;
}
ol, ul {
    list-style: none;
}
* {
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;
}
header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.3vw;
}
.navbar ul li {
  display: inline;
  margin-left: auto;
  margin-left: 9vw;
}
.navbar ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  font-weight: 600;

  transition: .3s;
}
.navbar ul li a:hover {
  color: #777;
}

.first-screen {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-screen__content {
  display: flex;
  justify-content: space-between;
}
.first-screen__content__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 9%;
}
.first-screen__content__text h1 {
  font-size: 4.3vw;
  margin-top: 1vw;
}
.first-screen__content__text p {
  font-size: 1.5vw;
  opacity: 0.7;
  letter-spacing: 0.03em;
}
.first-screen__content__image {
  width: 50%;
}
.first-screen__content__image img {
  width: 100%;
}
.first-screen__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 -6.255%;
  /*height: 120px;*/
}
.first-screen__footer__slider-wrapper {
  background-color: #000;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 30px 6vw;
}
.first-screen__footer__slider {
  width: 90%;
}
.first-screen__footer__copyright {
  display: flex;
  margin: auto;
}
.first-screen__footer__copyright p, .copyright {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.1vw;
  opacity: 0.7;
}
.test {
  /* width: 95px; */
  height: 6vw;
  background-color: #fff;
  padding: 10px;
  font-size: 20px;
}
.slider-img img {
    width: 100%;
}
.slick-slide {
  margin-right: 11vw;
}

.slider-control ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 2.5vw;
}
.slider-control ul li {
  display: inline-block;
}
.slider-control {
  display: flex;
  align-items: center;
}

.slider-control .prev,
.slider-control .next {
  width: 1vw;
  height: 1vw;
  cursor: pointer;

  transition: .5s;
}
.slider-control .prev:hover,
.slider-control .next:hover {
  opacity: .7;
}
.slider-control .prev {
  background: url(../img/left.svg) no-repeat left;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider-control .next {
  background: url(../img/right.svg) no-repeat right;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider-control .vertical-line {
    width: 0.1vw;
    height: 1.1vw;
    background-color: #fff;
    opacity: 0.6;
    margin: 0 0.2vw;
}
/*.slider-control .next:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: -0.23vw;
}*/

.services {
    padding-top: 150px;
}

.services__heading-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
}
.section-heading {
    font-size: 4vw;
}
.services__disclaimer p {
    font-family: 'Sen';
    font-size: 1.85vw;
    margin-top: 0.4em;
    margin-bottom: 2em;
}
.services__disclaimer {
    margin-left: 6vw;
}

.button {
    display: inline-block;
    padding: 0.7vw 2.5vw;
    background-color: #000;
    color: #cdcdcd;
    border: 2px solid #000;
    font-size: 1.7vw;
    font-family: 'Sen';

    transition: 0.3s ease-out;
}
.button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
.button:focus {
    outline: none;
}

.services__numbers-speak {
    display: flex;
    justify-content: space-between;
}
.services__numbers-speak__count {
    width: 35%;
}
.services__numbers-speak__count p {
    font-size: 1.5vw;
    font-weight: 600;
}
.services__numbers-speak__count ul {
    margin-top: 3vw;
    width: 61%;
}
.number {
    font-size: 5vw;
}
.numbers-text {
    display: block;
    position: relative;
    top: -4.3vw;
    left: 6.7vw;
    opacity: .8;
}

.services__numbers-speak__content {
    width: 60%;
}
.services__numbers-speak__content ul {
    column-count: 2; 
}
.services__numbers-speak__content__item {
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    margin-bottom: 2.5vw;
    font-weight: 600;
}
.services__numbers-speak__content__item h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vw;
}
.services__numbers-speak__content__item p {
    margin: 1vw 0;
    opacity: .8;
    font-weight: 400;
    line-height: 1.5em;
}
.more {
    font-size: 1.2vw;
    font-weight: 600;
}
.more:hover {
    opacity: .7;
}

.portfolio{
    padding: 6vw 0;
}
.portfolio__cases {
    margin-top: 2vw;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
}
.portfolio__cases__case {
    padding: 3vw 2vw 5vw ;
    width: 30%;
    height: 100%;
    border: 1px solid #eaeaea;

    transition: .4s;
}
.portfolio__cases__case:hover {
    border-color: #cccccc;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    
    transform: scale(1.1);
}
.portfolio__cases__case img {
    /*width: 90%;*/
    display: block;
    margin: 0 auto;
}
.portfolio__cases__case h3 {
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 1vw;
}
.portfolio__cases__case p {
    margin: 1vw 0;
    opacity: .8;
    letter-spacing: 0.06em;
}
.portfolio__cases__case:nth-of-type(1){
    margin-top: 10vw;
}
.portfolio__cases__case:nth-of-type(2){
    margin-top: 5vw;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 6vw 0px;
}
.contact__content {
    width: 50%;
}
.contact__content h3 {
    font-size: 2.7vw;
}
.contact__content p {
    font-size: 1.4vw;
    margin: 4vw 0;
    font-family: 'Open Sans', sans-serif;
}
.contact__input {
    border-bottom: 1px solid #999999;
    color: #999999;
    display: inline-block;
    cursor: text;
}
.contact__input:focus {
    outline: none;
}
[contenteditable=true]:empty:before {
    content: attr(placeholder);
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 2vw;
    background-color: #000;
    color: #fff;
    margin: 0 -5.5vw;
}
.footer .mail-link {
    color: #fff;
    font-size: 1vw;
    opacity: .9;
}
.footer .footer__social li {
    display: inline-block;
    margin-left: .6vw;
}
.footer .footer__social .social {
    height: 1.3vw;
    transition: .4s;
}
.footer .footer__social .social:hover {
    transform: translateY(-.2vw);
}
.footer__copyright {
    color: #fff;
    opacity: .7;
    margin: unset;
}

/* TODO
- 1. Не стандартный шрифт, который не встроен в браузер и грузится отдельно. Плохо, не соответствует предоставленному гайдлайну (я его повторю ниже)
2. Зачем-то используется jquery - мы не работаем с сервером. И по гайдлайну его было сказано избегать (я повторю его ниже)
- 3. Очень много стилей разных импортнуто. Зачем используются импортнутые стили?.
4. Я понимаю, что это заглушка, но картинки гугла и яндекса не оптимизированы под сеть.
- 5. Цифры в Numbers speak for themselves налазят на текст.
6. Стрелочки там где слайдер с компаниями - неровные (левая имеет больший отступ от центра)
- 7. Текст на сайте нельзя выделить. Возможные проблемы для людей, которые пользуются переводчиками сайтов или сео.*/