header {
    padding-bottom: 0;
    background-image: url(../img/main.jpg);
    background-position-y: center;
}

.header__top.fixed {
    width: 101vw;
    background-color: #fff;
    left: 0;
    top: 0;
    padding: 20px 16.6%;
    padding-right: 7vw;
}

.navbar a {
    color: #2d5ec2;
}

.navbar__language {
    border: 1px solid #2d5ec2;
}

.navbar__item {
    border-left: 1px solid #2d5ec2;
}

.convert {
    top: 465px;
}

.numbers {
    margin-bottom: 40px;
}